body {
  margin: 0;
  padding: 0;
  background-color:  #f2f2f2;
  font-family: "Times New Roman", Times, serif;
}

input {
  font-family: "Times New Roman", Times, serif;
  height: 25px;
  margin-right: 20px;
  font-size: 20px;
}

h1 {
  padding-top: 5%;
  color: #660033;
  max-height: 20px;
  white-space: nowrap;
  display: block;
}

h2 {
  text-align: center;
}

button {
  font-family: "Times New Roman", Times, serif;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: blue;
  width: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.Header {
  min-height: 300px;
  margin-top: 0;
  padding-top: 0;
  min-width: 90%;
  font-size: 45px;
  background-image: url("conversation.png");
  background-size: cover;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-family: 'Monoton', cursive;
}

.searchbar {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25% ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px;
}

.Table {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    text-align: center;
}

.Graph {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

.Sentiment {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  text-align: center;
}

.Concepts {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  text-align: center;
}
